{% assign pages_list = site.html_pages | sort:"nav_order" %}
<ul class="nav-list">
  {%- for node in pages_list -%}
    {%- unless node.nav_exclude -%}
      {%- if node.parent == nil and node.title -%}
        <li class="nav-list-item{% if page.url == node.url or page.parent == node.title %} active{% endif %}">
          {%- if node.has_children -%}
            <button class="nav-list-expander btn-reset" aria-label="Toggle {{ node.title }} submenu" aria-pressed="false">
              <svg viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#svg-arrow-right"></use></svg>
            </button>
          {%- endif -%}
          <a href="{{ node.url | relative_url }}" class="nav-list-link{% if page.url == node.url %} active{% endif %}">{{ node.title }}</a>
          {%- if node.has_children -%}
            {%- assign children_list = pages_list | where: "parent", node.title -%}
            <ul class="nav-list">
            {%- for child in children_list -%}
              <li class="nav-list-item {% if page.url == child.url %} active{% endif %}">
                <a href="{{ child.url | relative_url }}" class="nav-list-link{% if page.url == child.url %} active{% endif %}">{{ child.title }}</a>
              </li>
            {%- endfor -%}
            </ul>
          {%- endif -%}
        </li>
      {%- endif -%}
    {%- endunless -%}
  {%- endfor -%}
</ul>